* {
  box-sizing: border-box;
}
.page {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page > * {
  margin-top: 20px;
  margin-bottom: 10px;
}

.fakeImage {
  width: 300px;
  height: 300px;
  background-color: #e3e3e3;
}

.startBtn {
  width: 100px;
  height: 30px;
}
